In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('banking.csv')

In [3]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,telephone,oct,tue,...,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [4]:
# les variables qui nous interesse
df=df[['y','age','marital', 'default', 'loan']]

In [6]:
df

       y  age  marital  default loan
0      0   44  married  unknown   no
1      0   53  married       no   no
2      1   28   single       no   no
3      0   39  married       no   no
4      1   55  married       no   no
...   ..  ...      ...      ...  ...
41183  0   59  married  unknown  yes
41184  0   31  married  unknown   no
41185  0   42   single  unknown  yes
41186  0   48  married       no  yes
41187  0   25   single       no   no

[41188 rows x 5 columns]

In [89]:
# pas de variable manquants donc chill
# changement des variables
df.loc[df['default'] == 'unknown', 'default'] = 0
df.loc[df['default'] == 'no', 'default'] = 1
df.loc[df['default'] == 'yes', 'default'] = 2

df.loc[df['loan'] == 'no', 'loan'] = 0
df.loc[df['loan'] == 'yes', 'loan'] = 1
df.loc[df['loan'] == 'unknown', 'loan'] = 2

df.loc[df['marital'] == 'married', 'marital'] = 1
df.loc[df['marital'] == 'single', 'marital'] = 0
df.loc[df['marital'] == 'divorced', 'marital'] = 2
df.loc[df['marital'] == 'unknown', 'marital'] = 3
df.loc[df['marital'] == 'unknown', 'marital'] = 4

In [90]:
df

       y  age marital default loan
0      0   44       1       0    0
1      0   53       1       1    0
2      1   28       0       1    0
3      0   39       1       1    0
4      1   55       1       1    0
...   ..  ...     ...     ...  ...
41183  0   59       1       0    1
41184  0   31       1       0    0
41185  0   42       0       0    1
41186  0   48       1       1    1
41187  0   25       0       1    0

[41188 rows x 5 columns]

In [91]:
# verification des types de donnes de marital pour modifier
df['marital'].value_counts()

1    24340
0    11288
2     5481
3       79
Name: marital, dtype: int64

In [92]:
# verification du type des donnees
df['marital'].value_counts()

1    24340
0    11288
2     5481
3       79
Name: marital, dtype: int64

In [93]:
# Partie classification
"""
    Le model adapté est la classification car on predit une variable catégorique comme les questions fermé par exemple.C'est a dire si le client sera en mesure de rembourser son prêt ou non.
"""


from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [94]:
# les targets et features
Y = df['y']

In [95]:
X = df.drop('y', axis=1)

In [112]:
# prepration des donnees de test etc
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [113]:
X_test

       age marital default loan
32884   30       0       1    0
3169    54       1       1    1
32206   42       2       1    0
9403    33       1       1    1
14020   29       0       1    0
...    ...     ...     ...  ...
15908   37       1       1    0
28222   25       1       1    0
14194   39       1       1    0
19764   51       1       1    0
26052   45       1       0    0

[12357 rows x 4 columns]

In [114]:
Y_train

39075    0
34855    0
7107     1
31614    0
34878    0
        ..
6265     0
11284    1
38158    1
860      0
15795    0
Name: y, Length: 28831, dtype: int64

In [115]:
X_train.shape

(28831, 4)

In [116]:
Y_train.shape

(28831,)

In [118]:
model.fit(X_train,Y_train)

KNeighborsClassifier()

In [133]:
# fonction de test
def test_customer(modele):
    
    age = int(input("Votre age : \n"))
    marital =  int(input("Situation matrimoniale :\n 1 : marier, 2 : divorcer, 3 : inconnu, 0 celibataire \n"))
    
    default = int(input("Etes vous proprietaire ? 0 : inconnu, 2 : oui , 1 non :  \n"))
    loan = int(input("Avez vous un pret en cours ? 2 : oui , 0 : non , 1 : inconnu \n"))
    prediction =modele.predict([[age,marital,default,loan]])
    
    if prediction == 0:
        return "Mauvais client"
    return "Bon Client"

In [135]:
test_customer(model)

Votre age :
40
Situation matrimoniale :
 1 : marier, 2 : divorcer, 3 : inconnu, 0 celibataire
0
Etes vous proprietaire ? 0 : inconnu, 2 : oui , 1 non :
2
Avez vous un pret en cours ? 2 : oui , 0 : non , 1 : inconnu
2

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

'Mauvais client'

In [136]:
model.score(X_test,Y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8696285506190823